#cloud-config
users:
  - name: debian
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC/kSVeVjPRGYmPbK4hNu75AOdyj4OJ/HhPm+YkZWmMxDb8teUnPpH4O1oMop2UlcwnrXkWDHlHU7EHHOzeeMvXqSdGAb25PpmlEGvWNjqE0O4qhV27IiLGYFcZRCsQw9vGlDydYIGc9AvJWj/ha+OOS5IAOBEWgAzVh6TXunJ5efQvypdarmANlcKXytJmYb/mN0S4aH47CnbimCMj6Hzfzk2TVa3PN9KA+Ad3ntPQZyxA6TDteLIKkunM3gRS7j+hXSuHiG3MCY37jyb8WvUzO3T1rN4lsP/lBWUZeljCY99gs7e9UrCS1nUbDyQhf7sV4K6EAkk/+sG2aT1HCnqPGlwnoesP/owjRJMlvPsB3lcRzHzOut5svSRFH0eVVV3SR7gu2/uXCnDVQjFA7kSwn1cYnzZYMJcBGCy2JPXM651zsvZ48vcXVk+mlwucyyFF8SS+ZoUteofSMC5eA866fd144VIZdICqSp5QzU3Q6c3cmH+5KDiKVuD/zgVXMzDdC3KsASlnEuxs5Ok2E1UqSCKCFDFFe7UA9jv8IfPHy1+XpJL03DOLj8inO+cAhR9oxU2oqqfJ8y2gB+uIGeEQfjvcpM5k8i5FQhNiUH6T+dv3O+qhbCmSL5VlqIyzeaUSnWXj/hJFdcQ7xl3B6lch/5XNepVMboKfhqZX2SRfdQ== renan@aluno-OptiPlex-SFF-Plus-7020
# Nota: Substitua a linha ssh-rsa AAAA... pelo conteúdo do seu arquivo de chave pública local (geralmente localizado em ~/.ssh/id_rsa.pub).
# Se não houver, rode no terminal: user@pc: ssh-keygen -t rsa -b 4096 -f ~/.ssh/id_rsa -N ""

packages:
  - qemu-guest-agent
  - python3

runcmd:
  - systemctl start qemu-guest-agent

network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true